<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kgn.vhc.pp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".StartScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      	<activity 
      	    android:name=".MainScreen"
          	android:label="@string/app_name">
        </activity>
        
      	<activity 
      	    android:name=".About">
      	</activity>
        <activity
           android:name=".CreateProj"
           android:label="@string/app_name">
        </activity>
        <activity
           android:name=".Options"
           android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Tab">
            
        </activity>
        
        <activity
            android:name=".Widgets">
         </activity>
        
        <activity 
            android:name=".XmlFile">
            
        </activity>
        
        <activity 
            android:name=".JavaFile">
            
        </activity>
        
        <activity android:name=".XmlContents">
            
        </activity>
        
        <activity android:name=".Preview">
        </activity>
    </application>

</manifest>